
layout {
    focus-ring {
        active-gradient from="{{colors.tertiary.default.hex}}" to="{{colors.primary.default.hex}}" angle=135
        active-color "{{colors.primary.default.hex}}"
        inactive-color "{{colors.outline.default.hex}}"
        urgent-color "{{colors.error.default.hex}}"
    }
    border {
        active-color "{{colors.primary.default.hex}}"
        inactive-color "{{colors.outline.default.hex}}"
        urgent-color "{{colors.error.default.hex}}"
    }
    shadow {
        color "{{colors.shadow.default.hex}}70" 
    }
    tab-indicator {
        active-color "{{colors.primary.default.hex}}"
        inactive-color "{{colors.outline.default.hex}}"
        urgent-color "{{colors.error.default.hex}}"
    }
    insert-hint {
        color "{{colors.primary.default.hex}}80"
    }
}
