layout {

    focus-ring {
        active-color   "#363665"
        inactive-color "#e2e2e9"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#363665"
        inactive-color "#e2e2e9"
        urgent-color   "#fd4663"
    }

    shadow {
        color "#c7c7d170"
    }

    tab-indicator {
        active-color   "#363665"
        inactive-color "#9595b9"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#36366580"
    }
}

recent-windows {
    highlight {
        active-color "#363665"
        urgent-color "#fd4663"
    }
}
